<!DOCTYPE html>
<html>
<head>
    <title>TEMPLATE_PAGE_TITLE</title>

    <meta name="viewport" content="width=devicewidth,initial-scale=1.0,user-scalable=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="TEMPLATE_JS_PATH/jquery.mobile-1.3.0/jquery.mobile-1.3.0.min.css" />

    <style>
    .ui-header .ui-title
    {
        margin-right: 10%;
        margin-left: 10%;
    }
    </style>

    <script src="TEMPLATE_JS_PATH/jquery.mobile-1.3.0/jquery.js"></script>

    <script>
    // Do one-time initialisation here.
    $(document).on('mobileinit', function() {
        // Set default transitions.
        $.mobile.defaultPageTransition = "none";
        $.mobile.defaultDialogTransition = "none";
        $.mobile.ajaxEnabled = false;
        $.mobile.hashListeningEnabled = false;
        $.mobile.buttonMarkup.hoverDelay = 50;
    });
    </script>

    <script src="TEMPLATE_JS_PATH/jquery.mobile-1.3.0/jquery.mobile-1.3.0.min.js"></script>

    <script>
    /*
    // Insert header and panel into page.
    $(document).on("pagebeforecreate", function(event)
    {
        console.log("pagebeforecreate: " + event.target.id);
        $("#" + event.target.id).append($("#slide-panel").html());
        $("#" + event.target.id).prepend($("#slide-header").html());
        // No need to call .trigger('create') here.
    });

    function showSlide(slideId)
    {
        console.log("Show slide: " + slideId);
        console.log($("#" + slideId).html());
        $("#slide-container").html(
            $("#" + slideId).html());
        $("#page-slide").trigger("create");
        //$("#panel-content").panel("close");
    }
    */
    
    function showDocPage(path)
    {
        /*$.mobile.changePage(path, { 
            //pageContainer: $("#page-content"),
            //role: "content",
            transition: "none" });
        */
        $("#page-content").load(path);
    }
</script>
</head>

<body>
    <div data-role="page" id="page-template">
        
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>TEMPLATE_PAGE_TITLE</h1>
             <div data-type="horizontal" data-role="controlgroup" class="ui-btn-left">
               <a href="#"
                 data-rel="back"
                 data-role="button"
                 data-icon="back">Back</a>
               <a href="#panel-content"
                 data-role="button"
                 data-icon="bars">Content</a>
            </div>
            <a data-ajax="false"
                href="TEMPLATE_DOC_PATH/../index.html"
                class="ui-btn-right"
                data-icon="home">Home</a>
        </div>
        
        <div data-role="content" id="page-content">
            TEMPLATE_PAGE_CONTENT
        </div>
        
        <!-- Content Panel -->
        <div data-role="panel"
            id="panel-content"
            data-position="left"
            data-display="overlay"
            data-mini="false"
            data-theme="c">
           <!-- <a href="#"
                data-rel="close"
                data-role="button"
                data-mini="false"
                data-icon="delete"
                data-inline="true">Close</a> -->
            
            <!--
            <div data-role="collapsible-set" data-theme="c" data-content-theme="d">
                <div data-role="collapsible">
                    <h3>Quick Start</h3>
                    <ul data-role="listview" data-inset="false">
                        <li><a data-ajax="false" href="#">Your First C/C++ App</a></li>
                        <li><a data-ajax="false" href="#">Your First JavaScript App</a></li>
                        <li><a data-ajax="false" href="#">Kickstart MoSync Reload</a></li>
                    </ul>
                </div>
                <div data-role="collapsible">
                    <h3>C/C++</h3>
                    <ul data-role="listview" data-inset="false">
                        <li><a rel="external" href="http://www.mosync.com/files/imports/doxygen/latest/html/index.html">API Reference</a></li>
                        <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/cpp/guides/index.html">Coding Guides</a></li>
                        <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/cpp/tutorials/index.html">Tutorials</a></li>
                        <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/cpp/examples/index.html">Example Apps</a>
                    </ul>
                </div>
                <div data-role="collapsible">
                    <h3>JavaScript</h3>
                    <ul data-role="listview" data-inset="false">
                        <li><a rel="external" href="http://www.mosync.com/files/imports/doxygen/latest/html5/index.html">API Reference</a></li>
                        <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/js/guides/index.html">Coding Guides</a></li>
                        <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/js/tutorials/index.html">Tutorials</a></li>
                        <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/js/examples/index.html">Example Apps</a></li></li>
                    </ul>
                </div>
                <div data-role="collapsible">
                    <h3>Tools</h3>
                    <ul data-role="listview" data-inset="false">
                        <li><a data-ajax="false" href="">MoSync SDK</a></li>
                        <li><a data-ajax="false" href="">MoSync Reload</a></li>
                    </ul>
                </div>
                <div data-role="collapsible">
                    <h3>Products</h3>
                    <ul data-role="listview" data-inset="false">
                        <li><a data-ajax="false" href="">MoSync SDK</a></li>
                        <li><a data-ajax="false" href="">MoSync Reload</a></li>
                        <li><a data-ajax="false" href="">Product Comparison</a></li>
                    </ul>
                </div>
            </div>
            -->
            
            <ul data-role="listview" data-inset="false" data-mini="false" data-theme="c">
                <li data-role="list-divider" data-theme="c"><input type="search" name="search" id="search-basic" value="Search is not implemented" /></li>

                <li data-role="list-divider" data-theme="b">Quick Start</li>
                <li><a data-ajax="false" href="#">Your First C/C++ App</a></li>
                <li><a data-ajax="false" href="#">Your First JavaScript App</a></li>
                <li><a data-ajax="false" href="#">Kickstart MoSync Reload</a></li>
                
                <li data-role="list-divider" data-theme="b">C/C++</li>
                <li><a rel="external" href="http://www.mosync.com/files/imports/doxygen/latest/html/index.html">API Reference</a></li>
                <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/cpp/guides/index.html">Coding Guides</a></li>
                <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/cpp/tutorials/index.html">Tutorials</a></li>
                <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/cpp/examples/index.html">Example Apps</a>

                <li data-role="list-divider" data-theme="b">JavaScript</li>
                <li><a rel="external" href="http://www.mosync.com/files/imports/doxygen/latest/html5/index.html">API Reference</a></li>
                <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/js/guides/index.html">Coding Guides</a></li>
                <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/js/tutorials/index.html">Tutorials</a></li>
                <li><a data-ajax="false" href="TEMPLATE_DOC_PATH/js/examples/index.html">Example Apps</a></li></li>

                <li data-role="list-divider" data-theme="b">Tools</li>
                <li><a data-ajax="false" href="#">MoSync SDK</a></li>
                <li><a data-ajax="false" href="#">MoSync Reload</a></li>

                <li data-role="list-divider" data-theme="b">Products</li>
                <li><a data-ajax="false" href="#">MoSync SDK</a></li>
                <li><a data-ajax="false" href="#">MoSync Reload</a></li>
                <li><a data-ajax="false" href="#">Product Comparison</a></li>
                
                <li data-role="list-divider" data-theme="b">Screencasts</li>
                <li><a data-ajax="false" href="#">Watch Screencasts</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
